<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css' )}}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css' )}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css' )}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}" />

    <title>
        Gracia Residences
    </title>
</head>

<body>



    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <!-- Nav -->
    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <a href="index.html" class="logo m-0 float-start">Gracia Residences</a>

                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                        <li class="active"><a href="index.html">Home</a></li>

                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#what-we-offer">What We Offer</a></li>

                        <li><a href="#contact-us">Contact Us</a></li>
                    </ul>

                    <a href="#"
                        class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                        data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Nav -->

    <!-- SLide maybe -->

    <div class="hero">
        <div class="hero-slide">
            {% for index in range(1,9)%}
            <div class="img overlay"
                style="background-image: url('{{ url_for('static', filename='images/')}}Air bnb{{index}}.jpg')">
            </div>
            {% endfor %}
        </div>

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-9 text-center">
                    <h1 class="heading" data-aos="fade-up">
                        Easiest way to find your dream home
                    </h1>
                    <div class="narrow-w form-search d-flex mb-3 justify-content-center" data-aos="fade-up"
                        data-aos-delay="200">
                        <a value="Learn More" class=" d-block btn btn-primary" href="#about-us"> LEARN MORE </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End slide maybe -->

    <div id="our-houses">
        <div class="section">
            <div class="container">
                <div class="card shadow rounded">

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', filename='images/Corporate-Housing.jpg')}}" alt="Image"
                                    class="img-fluid" />
                                <h5 class="heading text-left p-2"> Corporate Housing </h5>
                            </div>
                            <div class="col">
                                <img src="{{ url_for('static', filename='images/Healthcare-Employee-Housing.jpg')}}"
                                    alt="Image" class="img-fluid" />
                                <h5 class="heading text-left p-2"> Traveling Healthcare Professionals </h5>
                            </div>
                            <div class="col">
                                <img src="{{ url_for('static', filename='images/Housing-For-Large-Groups.jpg')}}"
                                    alt="Image" class="img-fluid" />
                                <h5 class="heading text-left p-2"> Family Vacation </h5>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- about us -->
    <div id="about-us">
        <div class="section">
            <div class="container">
                <div class="row text-left mb-5">
                    <div class="col-12">
                        <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
                    </div>

                    <div class="col-lg-12">
                        <p class="text-black-50">
                            Gracia Residences offers comprehensive short to mid-term rental housing solutions,
                            specializing in
                            corporate
                            accommodations for executives, nurses, and family getaways. Our dedicated team of experts is
                            committed to
                            delivering the exceptional customer service you deserve.
                        </p>
                        <p class="text-black-50">
                            We streamline the process by signing multi-unit long-term leases, which saves you time and
                            money by
                            consolidating
                            payments from multiple tenants. Partnering with residential, commercial landlords, and
                            property
                            managers seeking
                            guaranteed income for their properties is our forte.
                        </p>
                        <p class="text-black-50">
                            Recognizing that your property is a significant investment, we prioritize its care as much
                            as you
                            do. Each unit
                            undergoes meticulous and regular deep cleaning to ensure utmost comfort and satisfaction for
                            our
                            guests at Gracia
                            Residences
                        </p>
                    </div>
                </div>
                <div id="what-we-offer">


                    <div class="row text-left mb-5">
                        <div class="col-lg-4">

                            <div class="card shadow-sm rounded">
                                <img class="card-img-top"
                                    src="{{ url_for('static', filename='images/Wear-and-Tear.jpg')}}"
                                    alt="Wear &amp; Tear">
                                <div class="card-body">
                                    <h5 class="card-title">Wear &amp; Tear</h5>
                                    <p class="card-text">Our dedicated cleaning staff ensures your property is
                                        maintained to the highest
                                        standards,
                                        with
                                        frequently scheduled
                                        cleaning services. By keeping the property in A+ condition daily for our guests,
                                        we help
                                        prevent
                                        costly repairs.</p>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-4">

                            <div class="card shadow-sm rounded">
                                <img class="card-img-top"
                                    src="{{ url_for('static', filename='images/No more Tenant Turnover.jpg')}}"
                                    alt="No more Tenant Turnover">
                                <div class="card-body">
                                    <h5 class="card-title">No more Tenant Turnover</h5>
                                    <p class="card-text">Securing new tenants for the space can swiftly become costly
                                        once the current tenant
                                        departs.
                                        Common
                                        issues
                                        include:
                                    <ol>
                                        <li>Extensive cleaning and repainting.</li>
                                        <li>Listing fees or realtor commissions.</li>
                                        <li>Lengthy vacancies spanning multiple months.</li>
                                    </ol>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">


                            <div class="card shadow-sm rounded">
                                <img class="card-img-top" src="{{ url_for('static', filename='images/For Sale.jpg')}}"
                                    alt="Time To Sell">
                                <div class="card-body">
                                    <h5 class="card-title">Time To Sell</h5>
                                    <p class="card-text">We understand Your property is an investment and when its time
                                        to sell we work with your
                                        schedule
                                        for showings
                                        and ensure that your property is in A+ condition always ready to show to
                                        potential buyers
                                        making
                                        it
                                        appealing and
                                        never worry about eviction moratoriums or worry about tenants vacating property
                                        on closing.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row text-left mb-5">
                        <div class="col-lg-6">

                            <div class="card shadow-sm rounded">
                                <img class="card-img-top"
                                    src="{{ url_for('static', filename='images/Stress free Gauranteed Rental Income.jpg')}}"
                                    alt="Stress free Guaranteed Rental Income">
                                <div class="card-body">
                                    <h5 class="card-title">Stress free Guaranteed Rental Income</h5>
                                    <p class="card-text">We assure you consistent income throughout the lease term,
                                        eliminating worries about tenants
                                        losing
                                        their jobs or
                                        timely payments. Our stress-free guarantee ensures you receive rent every month
                                        without fail


                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">


                            <div class="card shadow-sm rounded">
                                <img class="card-img-top"
                                    src="{{ url_for('static', filename='images/Multiple Units.jpg')}}"
                                    alt="Have multiple units? No worries!">
                                <div class="card-body">
                                    <h5 class="card-title">Have multiple units? No worries!</h5>
                                    <p class="card-text">We execute long-term leases for multiple units simultaneously,
                                        streamlining your operations
                                        and
                                        saving you the
                                        time and expense of sourcing individual tenants for each unit. This approach
                                        simplifies rent
                                        collection and reduces
                                        monthly expenses.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center my-2">
                    <div class="col-3"></div>
                    <div class="col-6">

                        <h3>Looking To Fill Vacancies?</h3>

                        <a class="btn btn-lg btn-primary" href="#contact-us"> Contact Us </a>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section pt-0">
        <div class="container">
            <div class="row justify-content-between mb-5">
                <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                    <div class="img-about dots">
                        <img src="{{ url_for('static', filename='images/hero_bg_3.jpg')}}" alt=" Image"
                            class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex feature-h">
                        <span class="wrap-icon me-3">
                            <i class="ti-lock"></i>
                            <!-- <span class="icon-home2"></span> -->
                        </span>
                        <div class="feature-text">
                            <h3 class="heading">Trust and Safety</h3>
                            <p class="text-black-50">

                                Our entire business is built on trust and relationships with owners, landlords and
                                property managers. Our business is
                                built on <b>YOUR</b> trust in us with your property. All guests are pre-screened before
                                hand to
                                ensure safety and security.
                                Your property is our responsibility and it’s in our best interest to always keep it in
                                A+ condition.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex feature-h">
                        <span class="wrap-icon me-3">
                            <span class="ti-video-camera"></span>

                        </span>
                        <div class="feature-text">
                            <h3 class="heading">Security</h3>
                            <p class="text-black-50">
                                Each unit is equipped with video doorbells and cameras at the entrance. Inside, noise
                                detectors are installed to alert
                                our on-site support staff if noise levels exceed a set dB limit. Additionally, smart
                                locks on each door generate unique
                                codes for every guest, automatically deleting them upon checkout.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section pt-0">
        <div class="container">
            <div class="row justify-content-between mb-5">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="img-about dots">
                        <img src="{{ url_for('static', filename='images/hero_bg_2.jpg')}}" alt="Image"
                            class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="d-flex feature-h">
                        <span class="wrap-icon me-3">
                            <span class="ti-home"></span>
                        </span>
                        <div class="feature-text">
                            <h3 class="heading">In-House Cleaning Staff</h3>
                            <p class="text-black-50">


                                We handle cleaning in-house rather than outsourcing to ensure maximum quality control
                                and maintain professional
                                cleanliness standards after each stay. Our dedicated crew is extensively trained to
                                meticulously attend to every
                                detail, understanding the paramount importance of cleanliness for achieving 5-star
                                reviews.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex feature-h">
                        <div class="feature-text">
                            <h2>Our Standard Amenities</h2>
                            <p class="text-black-50">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex text-left mb-2">
                                        <span class="w-25">
                                            <img src="{{ url_for('static', filename='images/kitchen-furniture.svg')}}"
                                                alt="" class="img-thumbnail">
                                        </span>
                                        <!-- img -->
                                        <h5 class="feature-text d-inline mx-auto py-2">Fully Equipped Kitchens</h5>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="d-flex text-left mb-2">



                                        <span class="w-25">
                                            <img src="{{ url_for('static', filename='images/householditems.svg')}}"
                                                alt="" class="img-thumbnail">
                                        </span>
                                        <!-- img -->
                                        <h5 class="feature-text d-inline mx-auto py-3">All Furnishings</h5>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="d-flex text-left mb-2">
                                        <span class="w-25">
                                            <img src="{{ url_for('static', filename='images/cooking-utencils.svg')}}"
                                                alt="" class="img-thumbnail">
                                        </span>
                                        <!-- img -->
                                        <h5 class="feature-text d-inline mx-auto py-3">Housewares</h5>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="d-flex text-left mb-2">
                                        <span class="w-25">
                                            <img src="{{ url_for('static', filename='images/bed.svg')}}" alt=""
                                                class="img-thumbnail">
                                        </span>
                                        <!-- img -->
                                        <h5 class="feature-text d-inline mx-auto py-3">Linens &amp; Bedding</h5>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="d-flex text-left mb-2">
                                        <span class="w-25">
                                            <img src="{{ url_for('static', filename='images/internet.svg')}}" alt=""
                                                class="img-thumbnail">
                                        </span>
                                        <!-- img -->
                                        <h5 class="feature-text d-inline mx-auto py-3">High Speed Internet</h5>
                                    </div>
                                </div>
                            </div>

                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- end about us -->





    <!-- Contact Us -->
    <div id="contact-us" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-info">


                        <div class="email mt-4">
                            <i class="icon-envelope"></i>
                            <h4 class="mb-2">Email:</h4>
                            <p>info@graciaresidences.com</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>

                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="{{url_for('home.index')}}" method="post">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-6 mb-3">
                                {{form.name(class="form-control", placeholder="Your Name")}}
                            </div>
                            <div class="col-6 mb-3">
                                {{form.email(class="form-control", placeholder="Your Email")}}
                            </div>
                            <div class="col-12 mb-3">
                                {{form.subject(class="form-control", placeholder="Subject")}}
                            </div>
                            <div class="col-12 mb-3">
                                {{form.message(class="form-control", cols="30", rows="7", placeholder="Message")}}
                            </div>

                            <div class="col-12">
                                <input type="submit" value="Send Message" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Us -->


    <!-- Footer -->
    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <h3>Contact</h3>
                        <!-- <address>43 Raymouth Rd. Baltemoer, London 3910</address> -->
                        <ul class="list-unstyled links">
                            <!-- <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
                            <li><a href="tel://11234567890">+1(123)-456-7890</a></li> -->
                            <li>
                                <a href="mailto:info@graciaresidences.com">info@graciaresidences.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2">
                    <div class="widget">
                        <h3>Sources</h3>
                        <ul class="list-unstyled float-start links">
                            <li><a href="#">About us</a></li>
                            <!-- <li><a href="#">Services</a></li> -->
                            <!-- <li><a href="#">Vision</a></li> -->
                            <!-- <li><a href="#">Mission</a></li> -->
                            <!-- <li><a href="#">Terms</a></li> -->
                            <!-- <li><a href="#">Privacy</a></li> -->
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-5">
                    <div class="widget">
                        <h3>Links</h3>
                        <ul class="list-unstyled links">
                            <!-- <li><a href="#">Our Vision</a></li> -->
                            <li><a href="#about-us">About us</a></li>
                            <li><a href="#contact-us">Contact us</a></li>
                        </ul>

                        <ul class="list-unstyled social">
                            <li>
                                <a href="#"><span class="icon-instagram"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-pinterest"></span></a>
                            </li>
                            <li>
                                <a href="#"><span class="icon-dribbble"></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

            <div class="row mt-5">
                <div class="col-12 text-center">
                    <!-- 
                **==========
                NOTE: 
                Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
                **==========
              -->

                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        . All Rights Reserved. &mdash; Designed with love by
                        <a href="https://untree.co">Untree.co</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- End Footer -->



    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js')}}"></script>
    <script src="{{ url_for('static', filename='js/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js')}}"></script>
    <script src="{{ url_for('static', filename='js/counter.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>